[user]
        name = Ales Nosek
        email = ales.nosek@gmail.com
[color]
        ui = auto
[merge]
        tool = vimdiff
        stat = true
        conflictstyle = diff3
[diff]
        mnemonicprefix = true
        tool = vimdiff
[alias]
        l   = log --pretty=format:'%C(yellow)%h%C(reset)%C(bold yellow)%d%C(reset) %s %C(green)%ad %C(bold blue)%an%C(reset)'
        l2  = log --pretty=format:'%C(yellow)%h%C(reset)%C(bold yellow)%d%C(reset) %s %C(green)%ar %C(bold blue)%an%C(reset)'
        lg  = log --pretty=format:'%C(yellow)%h%C(reset)%C(bold yellow)%d%C(reset) %s %C(green)%ad %C(bold blue)%an%C(reset)' --graph
        lg2 = log --pretty=format:'%C(yellow)%h%C(reset)%C(bold yellow)%d%C(reset) %s %C(green)%ar %C(bold blue)%an%C(reset)' --graph
        co = checkout
        b  = branch
        ba = branch --sort=creatordate --format '%(align:30) %(color:green) %(creatordate:relative) %(end) %(align:40) %(color:red) %(refname) %(end) %(color: yellow) %(objectname:short)  %(color: reset)%(subject)' --all
        c  = commit
        ca = commit --amend
        s  = status
        st = status -sb
        dc = diff --cached
        dcw = diff --cached --color-words
        d = diff
        dw = diff --color-words
[git-p4]
        skipsubmitedit = true
        skipsubmiteditcheck = true
[init]
        templatedir = ~/.git.template
[push]
        default = current
[credential]
        helper = cache --timeout 43200
[core]
        excludesfile = ~/.gitignore.global
[difftool]
        prompt = false
[mergetool]
        prompt = false
[pull]
        ff = only
[stash]
        showPatch = true
